html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 48px #2F435A;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#ti-square {
    position:absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background: url('../img/ti-logo.png') no-repeat #E87825;
    margin: 0;
    padding: 0;
}


img {
    max-width: 1280px;
}

section.main    {
    padding-left: 2em;
}